# Copy this file to .env and add your real values.
# Do not commit your real API keys or passwords to source control.

# Use OpenAI or Gemini depending on which service and key you have.
GEMINI_API_KEY=AQ.Ab8RN6Lhk-DDKB7D_boMvVjzODDLXwvTFVYdtZocgF5tUaqrVA
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-gmail-app-password
